 body {
         background-color: lightgray;

       }
       h2 {
         color: firebrick
       }
       h3 {
         color: green
       }
       img {
         border: 5px solid blue;
         margin-left: 200px;
       }
       footer {
         text-align: center;
       }
       .test {
         width: 90%;
         margin-left: 5%;
         margin-top: 60px;
       }